---
name: CI

on:
  push:
    branches:
      - main
  pull_request: ~
  workflow_dispatch: ~

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker images
        uses: docker/bake-action@v6
        with:
          pull: true
          load: true
          source: .
          files: |
            compose.yaml
            compose.override.yaml
          set: |
            *.cache-from=type=gha,scope=${{github.ref}}
            *.cache-from=type=gha,scope=refs/heads/main
            *.cache-to=type=gha,scope=${{github.ref}},mode=max
      - name: Start services
        run: docker compose up --wait --no-build
      - name: Check HTTP reachability
        run: curl -v --fail-with-body http://localhost
      - name: Check HTTPS reachability
        if: false # Remove this line when the homepage is configured, or change the path to check
        run: curl -v --insecure --fail-with-body https://localhost
      - name: Check Mercure reachability
        run: curl -vI --insecure --fail-with-body https://localhost/.well-known/mercure?topic=test
      - name: Create test database
        run: docker compose exec -T php bin/console doctrine:database:create --env=test
      - name: Run migrations
        run: docker compose exec -T php bin/console doctrine:migrations:migrate --env=test --no-interaction
      - name: Run PHPUnit
        run: docker compose exec -T php bin/phpunit
      - name: Doctrine Schema Validator
        run: docker compose exec -T php bin/console doctrine:schema:validate --env=test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer
          extensions: xml, xmlwriter, xmlreader, dom, simplexml, tokenizer, intl, mbstring, curl, openssl, json

      - name: Install dependencies (Composer)
        run: composer install --no-progress --no-interaction

      - name: Run PHP-CS-Fixer (dry run)
        run: vendor/bin/php-cs-fixer fix --dry-run --diff
        
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_CHECKOV: false
          VALIDATE_TRIVY: false
          VALIDATE_PHP: false
          VALIDATE_PHP_BUILTIN: false
          VALIDATE_PHP_SYNTAX: false
          VALIDATE_PHP_COMPOSER: false
          VALIDATE_PHP_PSALM: false
          VALIDATE_PHPSTAN: false
          FILTER_REGEX_EXCLUDE: "vendor/.*"
